# Java Builds
target/
build/
bin/
.gradle/
.classpath

# WebUI Builds
tmp/

# WebUI dependencies
webui/node_modules/
webui/dist/
webui/bower_components/

# IDEs and editors
**/.idea
**/.vscode
.settings/

# misc
**/.sass-cache
**/npm-debug.log
typings/

#System Files
**/.DS_Store
**/.project
**/.settings
**/.classpath
**/.metadata
**/Thumbs.db
